<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJANGO_LAB_2</title>
</head>
<body style="background-color:powderblue;">
    <h1 style="background-color:Tomato;">Blog by Mykhailyk</h1>

    <p style="background-color:Violet;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde at deserunt ratione deleniti non, sit veniam eius enim, aliquam odio accusantium esse odit natus doloribus sunt sint, eos obcaecati facilis.</p>
    <p style="background-color:Violet;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde at deserunt ratione deleniti non, sit veniam eius enim, aliquam odio accusantium esse odit natus doloribus sunt sint, eos obcaecati facilis.</p>
    <p style="background-color:Violet;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde at deserunt ratione deleniti non, sit veniam eius enim, aliquam odio accusantium esse odit natus doloribus sunt sint, eos obcaecati facilis.</p>
     
    <p></p>
</body>
</html>